a.dp-choose-date {
    padding: 0;
    margin: 0 5px 0;
    vertical-align: middle;
}

a.dp-choose-date img {
    border-style: none;
}

/* то что перезагружалось base.css */
table.jCalendar th,td {
    border: 0;
    font-size: 10px;
    font-family: arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2em;
}
