{% extends 'base.html' %}

{% block content %}
<h3>Contacts:</h3>
<p>
    {{ first_name }} {{ last_name }}
    <br />{{ contact_email }}
</p>
<p>
    <a href="/cxpr_test/">ticket:4 Context processor test</a>
    <br /><br />
    <a href="/edit_contacts/">ticket:5 Edit Contacts</a>
    <br /><br />
    <a href="/auth_req/edit_contacts/">ticket:2 Edit Contacts With Authentication Required</a>
    <br /><br />
    <a href="/edit_contacts_form/">tickets:6,7,11 Edit Contacts with calendar widget</a>
    <br /><br />
    <a href="{% load edit_list_lib %}{% edit_link me %}">ticket:8 Template tag link to edit contacts</a>
    <br /><br />
    <a href="/httpreqs_log/">ticket:12 Last 10 HTTP requests</a>
    <br /><br />
    <a href="/httpreqs_with_priority_log/">ticket:12 Last 10 HTTP requests with priority field</a>
    <br /><br />
    <a href="/accounts/logout/">Logout</a>
</p>
<h3>LogEntry for contacts:</h3>
{% endblock %}

