{% extends 'base.html' %}

{% block content %}
<h3>Contacts:</h3>
<p>
    {{ first_name }} {{ last_name }}
    <br>{{ contact_email }}
</p>
<p>
    <a href="/cxpr_test/">ticket:4 Context processor test</a>
    <br><br>
    <a href="/edit_contacts/">ticket:5 Edit Contacts</a>
    <br><br>
    <a href="/auth_req/edit_contacts/">ticket:2 Edit Contacts With Authentication Required</a>
    <br><br>
    <a href="/edit_contacts_form/">ticket:6 Edit Contacts with calendar widget</a>
    <br><br>
    <a href="/accounts/logout/">Logout</a>
</p>
{% endblock %}

